@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.headlineUl {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px;

    max-width: 1300px;

 margin: 0px auto 0px auto;


  }
  
  .newsItem {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 0;
  animation: news 1s linear;
  
 animation-range: entry 0% cover 30%;
  }

   .news-Image{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .newsItem h3 {
    font-size: 1.8rem;
    margin: 10px 0;
  }
  
  .item-descrip {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .sourceInfo {
    margin-top: 15px;
  }
  
  .read-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .read-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .headlineUl {
      grid-template-columns: 1fr; 
    }
    
  }
  
  @keyframes news {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .category-navigation {
    display: flex;
width: 90%;
    justify-content:space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: rgb(246, 212, 170);
    color: #fff;
    margin: 30px auto;
    
  }

  .category-navigation ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content:space-between;
  }

  .category-navigation li {
    margin-right: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    
  }
  
  .category-navigation li:hover {
    color: #d87272;
  }
  
 
  
  @media (max-width: 768px) {
    .category-navigation {
      flex-direction: column;
      align-items: center;
    }
    .category-navigation ul {
      flex-direction: column;
    }
    .category-navigation li {
        font-size: 1.4rem;
      margin-right: 0;
     
    }
  }
  
  @media (max-width: 480px) {
    .category-navigation {
     padding: 0.5rem;
    }
    .category-navigation li {
   text-align: center;   
      font-size: 1rem;
    }
  }

  .SLC{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 30px auto;
  }

  @media (max-width: 1250px) {
    .SLC{
        flex-direction: column;
        gap: 30px;
       align-items: center;
    }
  }

  .input-field{
    display: flex;
    gap: 5px;
  }
  .input-field input{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }

  .input-field button{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 100px;
    height: 30px;
    background-color: blue;
color:#eee9e9;
border: blue;
border-radius: 5px;
  }

@media (max-width: 768px){
    .input-field input{
        width: 350px;
    }
    .input-field button{
        font-size: 16px;
        font-weight: 500;
    }
}


  .language-field, .country-field{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;

  }

  .LanCou{
    display: flex;
    gap: 40px
  }